* {
	box-sizing: border-box;
}

body {
	min-width: 375px;
	margin: 0;
}

.container {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {
	min-height: 100vh;
	display: grid;
	grid-template-areas: 
		"header header"
		"aside main"
		"footer footer";
	grid-template-columns: minmax(250px, 300px) 1fr;
	grid-template-rows: auto 1fr auto;
}

.header {
	grid-area: header;
	background-color: #f00;
	min-height: 100px;
}

.aside {
	grid-area: aside;
	background-color: #e2e20d;
}

.main {
	grid-area: main;
	background-color: #31bb0a;
	padding-top: 30px;
	padding-bottom: 30px;
}

.main .container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 30px;
}

.article {
	background-color: #de6e05;
	min-height: 200px;
}

.footer {
	grid-area: footer;
	background-color: #0b2fe2;
	min-height: 250px;
}

@media (width <= 1200px) {
	.wrapper {
		grid-template-areas: 
			"header"
			"main"
			"footer";
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto auto;
	}
	
	.aside {
		min-height: 150px;
	}
	
	.main .container {
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
		gap: 20px;
	}
}

@media (width <= 768px) {
	.wrapper {
		grid-template-areas: 
			"header"
			"main"
			"footer";
		grid-template-rows: auto 1fr auto;
	}
	
	.aside {
		display: none;
	}
	
	.main .container {
		grid-template-columns: 1fr; 
		gap: 15px;
	}
}