body {
  font-family: Arial,;
  margin: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
tr,
td,
th {
  border: 1px solid #000000;
}

caption {
  border-bottom: none;
}

.table-color {
  color: red;
}

