html {
  font-family: sans-serif;
}

body * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid #ccc;
}

.logo {
  width: 50px;
  height: 50px;
  background-color: black;
  flex-shrink: 0;
  display: block;
}

.menu {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.menu a {
  text-decoration: underline; 
  color: inherit;
  padding: 10px 0;
}

.number {
  white-space: nowrap;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}
